
  /* header img {
    width: 160px;
  }
  
  button {
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  } */

   

   .footer {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer__description {
    text-align: center;
    color: #718096;
    line-height: 1.5;
  }
  